.container {
	display: flex;
	flex-wrap: wrap;
	width: 98%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 0.2em;
}
.tab__button-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	padding: 0.25em;

	background-color: #111;
	color: #fff;
}
.tab__button {
	font-size: 1em;
	border: none;
	padding: 0.1em 0.5em;
	margin: 0.3em;
	color: var(--btn-color);
	background-color: var(--btn-bg-color);
}
.tab__button:hover {
	cursor: pointer;
	background-color: var(--btn-bg-color-hover);
}
.tab__button[data-show="show"] {
	background-color: var(--btn-bg-color-show);
}
.tab__button[data-show="show"]:hover {
	cursor: default;
	opacity: 0.5;
}
.tab__container-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.tab__container {
	display: none;
	flex-wrap: wrap;
	width: 100%;
}
.tab__container[data-show="show"] {display: flex;}
.details {
	width: 100%;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-size: 1.2em;
}
.details__summary {
	display: flex;
	padding: 0 0.5em;
	color: var(--btn-color);;
	background-color: var(--btn-bg-color);
}
.details__summary:hover {
	cursor: pointer;
	background-color: var(--btn-bg-color-hover);
}
.details[open] .details__summary {
	background-color: var(--btn-bg-color-show);
}
.details__summary span {
	display: flex;
	width: 100%;
	justify-content: center;
}
.details__content {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.details__content .details__content_p {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-bottom: 1px solid;
}
.details__content_p span {
	margin-left: 0.5em;
	color: green;
}
.details__footer {
	width: 100%;
	text-align: right;
	margin-right: 1em;
}
.table__wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0.25em auto;
	height: fit-content;
	max-height: 75vh;
	overflow-y: auto;
}
.table {
	width: 100%;
	border-collapse: collapse;
}
.table thead {
	background-color: #111;
	color: #fff;
}
.table__tr_title {
	color: red;
	font-size: 1.2em;
	
}
.table__tr_title td {
	text-align: center;
	border-bottom: 2px solid green;
}
.table tbody tr td {
	border: 1px solid;
	padding: 0.1em 0.5em;
}

.form {
	display: flex;
	flex-wrap: wrap;
	width: 98%;
	margin: 0.25em auto;
	border: 1px solid;
}
.form__item {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	padding: 0.25em;
}
.form__item_space-around {
	justify-content: space-around;
}
.form__label {
	width: 100%;
	padding: 0 1em;
	text-align: center;
}
.form__input-text {
	width: 10em;
	max-width: 98%;
	margin: 0.25em auto;
	padding: 0.25em 0.5em;
	font-size: 1.3em;
	border: 2px solid;
}
.form__btn {
	border: 1px solid;
	font-size: 1.2em;
	margin: 0.25em;
	padding: 0.25em 0.5em;
	background-color: transparent;
}
.form__btn:hover {
	cursor: pointer;
}
.form__btn[type="reset"] {
	color: red;
}
.form__btn[type="submit"] {
	color: green;
}
.form__btn[type="reset"]:hover {
	background-color: #f00;
	color: #fff;
}
.form__btn[type="submit"]:hover {
	background-color: green;
	color: #fff;
}
